<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.parkhana.dao.NetDao">

	<insert id="insertNet" parameterType="com.github.parkhana.vo.NetVo">
		insert into board (contents, nickname, uploaddate, img)
		values(#{contents}, #{nickname}, now(), #{img})
	
	</insert>
	
	<select id="selectNetList" resultType="com.github.parkhana.vo.NetVo">
		select * from board
	</select>
	
</mapper>