<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.parkhana.dao.NetDao">
	<resultMap type="com.github.parkhana.vo.NetVo" id="netResultMap">
	  	<id property = "replynumber"  column="replynumber"  />
	  	<!-- property 값은 Vo 의 필드명 , column의 값은 SQL 구문의 칼럼명 -->
	    <result property ="replyCnt"  column="replyCnt" />
	</resultMap>

	<insert id="insertNet" parameterType="com.github.parkhana.vo.NetVo">
		insert into board (contents, nickname, img, user_id, createdate, uploaddate)
		values(#{contents}, #{nickname}, #{img}, #{user_id}, now(), now())
	</insert>

	<insert id="insertReply" parameterType="com.github.parkhana.vo.ReplyVo">
		INSERT into reply_board(replynickname, replycontents, board_id)
		VALUES(#{replynickname}, #{replycontents}, #{board_id});
	</insert>

	<insert id="insertRecommended" parameterType="HashMap">
		INSERT into recommended(board_id, user_id, create_date)
		VALUES (#{board_id}, #{user_id}, now());
	</insert>

	<update id="updateNet" parameterType="com.github.parkhana.vo.NetVo">
		update board
		set contents = #{contents}
		where 1=1
		  and id = #{id}
	</update>

	<update id="updateNetWithImg" parameterType="com.github.parkhana.vo.NetVo">
		update board
		set contents = #{contents}, img = #{img}
		where 1=1
		  and id = #{id}
	</update>

	<update id="updateRecommended" parameterType="HashMap">
		update recommended
		   set use_yn = #{use_yn}
		 where 1=1
		   and board_id = #{board_id}
		   and user_id = #{user_id}
	</update>
	
	<select id="selectNetList" parameterType="HashMap" resultType="com.github.parkhana.vo.NetVo">
		select
			id,
		    contents,
			user_id,
			nickname,
		    uploaddate,
		    img
		  from board
		  where 1=1
		  	<if test="ch1 == 'nickname'">
			  	and nickname like CONCAT('%', #{ch2}, '%')
			</if>
			<if test="ch1 == 'contents'">
			  	and contents like CONCAT('%', #{ch2}, '%')
			</if>
		 order by uploaddate desc
		limit #{startPage}, #{endPage}
	</select>

	<select id="selectNet" parameterType="com.github.parkhana.vo.NetVo" resultType="com.github.parkhana.vo.NetVo">
		select
			id,
			contents,
			user_id,
			nickname,
			uploaddate,
			img
		from board where id = #{id}
	</select>

	<select id="selectReplyList" parameterType="com.github.parkhana.vo.NetVo" resultType="com.github.parkhana.vo.ReplyVo">
		select
			replynumber,
			replynickname,
			replycontents,
			board_id
		from reply_board
		where 1=1
		  and board_id = #{id}
		order by replynumber desc
	</select>

	<select id="TOTALREPLY"  resultMap="netResultMap" parameterType="com.github.parkhana.vo.NetVo">
	   select count(replynumber) as replyCnt from reply_board
        where 1=1
          and board_id = #{id}
	</select>

	<select id="selectRecommended" parameterType="HashMap" resultType="com.github.parkhana.vo.RecommendedVo">
		select id, user_id, use_yn
		  from recommended
	 	 where 1=1
	 	   and board_id = #{board_id}
		<if test="user_id != null">
		   and user_id = #{user_id}
		</if>
		<if test="use_yn != null">
			and use_yn = #{use_yn}
		</if>
	</select>

	<delete id="deleteNet" parameterType="com.github.parkhana.vo.NetVo">
		delete from board where id = #{id}
	</delete>

	<delete id="deleteReply" parameterType="com.github.parkhana.vo.ReplyVo">
		DELETE FROM reply_board
		WHERE 1=1
		  AND replynumber = #{replynumber};
	</delete>

	<delete id="deleteRecommended" parameterType="HashMap">
		DELETE FROM recommended
		WHERE 1=1
		  AND board_id = #{board_id};
	</delete>

</mapper>